<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/venkatesh-mundra/" ><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/venkatesh.mundra/" ><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100089970683183" ><i class="fa-brands fa-square-facebook"></i></a>
        </div>

        <div class="f-info-brand">Wanderlust</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>



