body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

/* Navbar */
.navbar{
  height: 5rem;
  background-color: #fff;
}

.fa-compass{
  color: #fe424d;
  font-size: 2.5rem;
}

.nav-link{
  color: #222222;
}

.navbar-collapse {
background-color: #fff;
}

.container-nav{
position: relative;
width: 100%;
}

.navbar-brand {
left: 15px;
  position: absolute;
}

.navbar-nav{
margin: 0 auto;
width: 393px;
}

#togglerLable{
position: absolute;
  right: 15px;
  top: 0;
}


.search-btn {
  background-color: #fe424d;
  color: #fff;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn p {
  margin: 0;
}

.search-btn:hover {
  background-color: #fe424d;
  color: #fff;
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.search-inp {
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 1rem;
  text-align: center;
}

/* Hamburger menu */
.checkboxtoggler {
  margin-top: 0.5em;
  width: 1.8em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  cursor: pointer;
}

.line-1 {
  background: #df6447;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

.line-2 {
  background: #df6447;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

.line-3 {
  background: #df6447;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

#toggleChecker {
  height: 3em;
  width: 100%;
  display: none;
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-1 {
  -webkit-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  -ms-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-2 {
  -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  transform: rotate(-45deg) translateY(0em) translateX(0.1em);
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-3 {
  transform: scaleX(0);
  transform-origin: left;
}

.nav-profile {
  position: absolute;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  top: 3rem;
  right: 1.2rem;
  align-items: center !important;
  min-height: 8rem;
  min-width: 10rem;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.201);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  gap: 0.5rem;
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-profile a:hover {
  color: #fe424d;
}


/*Footer*/
.f-info-links a{
    text-decoration: none;
    color:#222222
}
.f-info-links a :hover{
     text-decoration: underline;
}

.f-info-socials ,.f-info-brand,.f-info-links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials a i{
    font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info-socials a i{
    text-decoration: none;
    color:black
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important; 
}

/* Card Effects */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border:none;
}


/* Index page */
#filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scrollable-tabs-container{
  max-width: 995px;
  overflow: hidden;
  position: relative;
}

.scrollable-tabs-container svg {
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
}

.scrollable-tabs-container .filter-container {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scrollable-tabs-container .filter-container.dragging {
  scroll-behavior: auto;
}

.scrollable-tabs-container .filter-container.dragging a {
  pointer-events: none;
}

.scrollable-tabs-container .filter-container::-webkit-scrollbar{
  display: none;
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  display: none;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active {
  display: flex;
}

.scrollable-tabs-container .right-arrow{
  right: 0;
  background: linear-gradient(to left, #fff 50%, transparent);
  justify-content: flex-end;
}

.scrollable-tabs-container .left-arrow{
  background: linear-gradient(to right, #fff 50%, transparent);
  z-index: 9;
}

.scrollable-tabs-container svg:hover {
  background-color: #ddd;
}

.scrollable-tabs-container a {
    color: black;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
}

.filter {
    text-align: center;
    margin-top: 2rem;
    opacity: 0.7;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    padding: 0 10px;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
    border-bottom: 2.5px solid #fe424d;
  color: #fe424d;
}

.scrollable-tabs-container .filter-container a.active{
  border-bottom: 2.5px solid #fe424d;
  color: #fe424d;
  opacity: 1;
}

.filter p {
    font-size: 0.8rem;
}

.tax-info {
    display: none;
}

.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  
  
@media(max-width:992px){
  .tax-toggle{
    height:3.5rem;
    width: 7.5rem;
    font-size: 0.7rem;
    font-weight: 600;
  }  
}

@media (max-width: 700px) {
  .navbar-nav {
    transform: translateX(20%);
  }
  .search-inp {
    max-width: 45%; 
  }
  .search-btn {
    max-width: 30%;
  }
  
  .navbar-brand{
    transform: scale(0.9);
  }
}

@media (min-width: 450px) and (max-width: 520px) {
  .search-inp {
    max-width: 45%;
  }
  .search-btn {
    max-width: 25%;
  }
}

@media (max-width: 450px) {
  .navbar-brand {
    display: none;
  }
  .navbar-nav {
    transform: translateX(0px);
  }
}

@media (min-width: 300px) and (max-width: 355px) {
  .search-inp {
    max-width: 35%;
  }
  .search-inp::placeholder {
    color: transparent;
  }
  .search-btn {
    max-width: 25%;
  }
}

@media (max-width: 30px) {
  .search-inp,
  .search-btn {
    transform: scale(0.8);
  }
}




 
/* show page */
.show-img{
   height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

